<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Implementacion_DSI_Grupo10.Properties.Settings.dsi_museoConnectionString" connectionString="Data Source=DESKTOP-REPNAR7\SQLEXPRESS;Initial Catalog=&quot;dsi museo&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
